<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556918316594-fqbgtfkjm95v9l9pmoo7bohkrhsi4esr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556918316594-fqbgtfkjm95v9l9pmoo7bohkrhsi4esr</string>
	<key>API_KEY</key>
	<string>AIzaSyCeenvfz1LG9bp45rr-q6eEK15fSigKA7k</string>
	<key>GCM_SENDER_ID</key>
	<string>556918316594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.palliativeCare</string>
	<key>PROJECT_ID</key>
	<string>cloud-77cca</string>
	<key>STORAGE_BUCKET</key>
	<string>cloud-77cca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556918316594:ios:ac62a728555b57c59a262b</string>
</dict>
</plist>